@import './variables.scss';

.bg-aqua {
  background-color: $bgAqua !important;
  color: $white !important;
}

.bg-green {
  background-color: $bgGreen !important;
  color: $white !important;
}

.bg-yellow {
  background-color: $bgYellow !important;
  color: $white !important;
}

.bg-red {
  background-color: $bgRed !important;
  color: $white !important;
}