body {
  margin: 0;
  padding: 0;

  font-family: 'Source Sans Pro','Source Sans Pro',Helvetica,Arial,sans-serif;
}

a {
  text-decoration: none;
}

.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}